* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(25deg, #0076A6 30%, #621360 60% , white), linear-gradient(15deg, orange, white);
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    font-size: 2vmin;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
        "c1 c1 c1 he he he he he logo"
        "c1 c1 c1 c2 c2 c3 c3 c3 c3"
        "c1 c1 c1 c2 c2 c3 c3 c3 c3"
        "c1 c1 c1 c2 c2 c3 c3 c3 c3"
        "uh uh uh c2 c2 c3 c3 c3 c3"
        "uh uh uh fo fo c4 c4 c4 c4"
        "uh uh uh fo fo c4 c4 c4 c4";
}


/* uncomment the section below to see the grid areas */


/* header { background: #369; }
footer { background: #396; }
#first { background: #936; }
#second { background: #963; }
#third { background: #693; }
#fourth { background: #939; }
#logo { background: #FFF; } */




header { grid-area: he; }
footer { grid-area: fo; }
#first { grid-area: c1; columns: 2; }
#second { grid-area: c2; }
#third { grid-area: c3; columns: 2; }
#fourth { grid-area: c4; }
#logo { grid-area: logo; }

#house { grid-area: uh; }

header h1 {
    font-size: 10vmin;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 2rem;
    font-size: 75%;
}

h1 {
    margin: 0;
}

article {
    display: contents;
}

section {
    padding: 0 2rem 2rem 2rem;
}

article p {
    margin: 0;
    padding: 0 0 1em 0;
}

footer {
    font-style: italic;
    font-size: 75%;
}

#house {
    border-radius: 1em;
    box-shadow: 0 0 1em white;
    border: 0.3rem white solid;
    width: 100%;
}

#logo {
    margin: 0 40% 0 40%;
}

#fourth {
    font-size: 140%;
}

@media screen and (width < 50em) {
    body {
        background: white;
        color: black;
    }
    main {
        padding: 0;
        font-size: inherit;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "he" "uh" "c1 " "c2" "c3" "c4" "fo" "logo";   
    }
    #first { columns: 1; }
    #third { columns: 1; }
    #house {
        border-radius: 0;
        box-shadow: none;
        border: none;
    }
}
